<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 15.11.2018
 * Time: 02:39
 */
?>
<div id="slider_container" class="rev_slider_wrapper">
    <div id="rev-slider" class="rev_slider"  data-version="5.0">
        <ul>
            <li data-transition="slideremoveright">
                <img src="http://www.asbing.com/pingsclinic/wp-content/uploads/2014/04/slider12-1200x500.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <div class="tp-caption cap-boxed capUppercase-title"
                     id="slide-1-layer-1"
                     data-x="right" data-hoffset="['60','60','60','20']"
                     data-y="top" data-voffset="['170','145','105','35']"
                     data-width="['auto','auto','auto','auto']"
                     data-height="['auto','auto','auto','auto']"
                     data-transform_idle="o:1;"
                     data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-textAlign="['left','left','left','left']"
                     data-whitespace="nowrap"
                     data-type="text"
                     data-fontsize="['42','32','24','14']"
                     data-lineheight="['42','32','24','14']"
                     data-paddingtop="[20,20,15,10]"
                     data-paddingright="[20,20,20,10]"
                     data-paddingbottom="[20,20,15,10]"
                     data-paddingleft="[20,20,20,10]"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 5; white-space: nowrap;"><strong>Alınıp Verilen </strong> Kilo Krizleri
                </div>
                <div class="tp-caption cap-boxed secondary-bg"
                     id="slide-1-layer-2"
                     data-x="right" data-hoffset="['60','60','60','20']"
                     data-y="top" data-voffset="['253','218','158','70']"
                     data-width="['600','530','400','250']"
                     data-height="['auto','auto','auto','auto']"
                     data-transform_idle="o:1;"
                     data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-textAlign="['left','left','left','left']"
                     data-whitespace="normal"
                     data-type="text"
                     data-fontsize="['14','14','11','9']"
                     data-lineheight="['24','24','18','14']"
                     data-paddingtop="[20,20,15,10]"
                     data-paddingright="[20,20,20,10]"
                     data-paddingbottom="[20,20,15,10]"
                     data-paddingleft="[20,20,20,10]"
                     data-start="2000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 5; white-space: normal;">Doğanın bir parçasıyız, doğaya aitiz ama doğanın dengesine aykırı hareket ediyoruz! Alınıp verilen kilolar sonrası artık beden yağları hiç yakamaz bir forma getiriyor.
                </div>
            </li>
            <li data-transition="slideremoveright">
                <img src="http://www.asbing.com/pingsclinic/wp-content/uploads/2014/04/slider31-1200x500.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <div class="tp-caption cap-boxed capUppercase-title"
                     id="slide-2-layer-1"
                     data-x="left" data-hoffset="['60','60','60','20']"
                     data-y="top" data-voffset="['170','145','105','35']"
                     data-width="['auto','auto','auto','auto']"
                     data-height="['auto','auto','auto','auto']"
                     data-transform_idle="o:1;"
                     data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-textAlign="['left','left','left','left']"
                     data-whitespace="nowrap"
                     data-type="text"
                     data-fontsize="['42','32','24','14']"
                     data-lineheight="['42','32','24','14']"
                     data-paddingtop="[20,20,15,10]"
                     data-paddingright="[20,20,20,10]"
                     data-paddingbottom="[20,20,15,10]"
                     data-paddingleft="[20,20,20,10]"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 5; white-space: nowrap;"><strong>Yan Etkisi </strong> Kesinlikle Yok
                </div>
                <div class="tp-caption cap-boxed secondary-bg"
                     id="slide-2-layer-2"
                     data-x="left" data-hoffset="['60','60','60','20']"
                     data-y="top" data-voffset="['253','218','158','70']"
                     data-width="['600','530','400','250']"
                     data-height="['auto','auto','auto','auto']"
                     data-transform_idle="o:1;"
                     data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-textAlign="['left','left','left','left']"
                     data-whitespace="normal"
                     data-type="text"
                     data-fontsize="['14','14','11','9']"
                     data-lineheight="['24','24','18','14']"
                     data-paddingtop="[20,20,15,10]"
                     data-paddingright="[20,20,20,10]"
                     data-paddingbottom="[20,20,15,10]"
                     data-paddingleft="[20,20,20,10]"
                     data-start="2000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 5; white-space: normal;">Tabiatın nasıl ve neden kalıcı zayıflattığını anlatıyoruz. Seçilmiş bazı özel bitkilerin tamamen sağlık yöntemleri çerçevesinde ve yan etkisi olmayan inceltme yolu hakkında bilgi veriyoruz.
                </div>
            </li>
            <li data-transition="slideremoveright">
                <img src="http://www.asbing.com/pingsclinic/wp-content/uploads/2014/04/slider21-1200x500.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <div class="tp-caption cap-boxed capUppercase-title"
                     id="slide-3-layer-1"
                     data-x="right" data-hoffset="['60','60','60','20']"
                     data-y="top" data-voffset="['170','145','105','35']"
                     data-width="['auto','auto','auto','auto']"
                     data-height="['auto','auto','auto','auto']"
                     data-transform_idle="o:1;"
                     data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-textAlign="['left','left','left','left']"
                     data-whitespace="nowrap"
                     data-type="text"
                     data-fontsize="['42','32','24','14']"
                     data-lineheight="['42','32','24','14']"
                     data-paddingtop="[20,20,15,10]"
                     data-paddingright="[20,20,20,10]"
                     data-paddingbottom="[20,20,15,10]"
                     data-paddingleft="[20,20,20,10]"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 5; white-space: nowrap;"><strong>7 Ayda </strong> Kesin Çözüm
                </div>
                <div class="tp-caption cap-boxed secondary-bg"
                     id="slide-3-layer-2"
                     data-x="right" data-hoffset="['60','60','60','20']"
                     data-y="top" data-voffset="['253','218','158','70']"
                     data-width="['600','530','400','250']"
                     data-height="['auto','auto','auto','auto']"
                     data-transform_idle="o:1;"
                     data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-textAlign="['left','left','left','left']"
                     data-whitespace="normal"
                     data-type="text"
                     data-fontsize="['14','14','11','9']"
                     data-lineheight="['24','24','18','14']"
                     data-paddingtop="[20,20,15,10]"
                     data-paddingright="[20,20,20,10]"
                     data-paddingbottom="[20,20,15,10]"
                     data-paddingleft="[20,20,20,10]"
                     data-start="2000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 5; white-space: normal;">En önemlisi bu çözümün 7 yönlü etkisi bulunuyor. Doğal zayıflamayla, ayda 7 kilo vermek, hem de bunları bir daha geri almamak mümkün.. Çok katı diyetler artık bir işe yaramıyor.
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="contain-wrapp padding-bot40">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="centered-icon">
                    <div class="icon-wrapp icon-circle icon-primary"><i class="fa fa-line-chart"></i></div>
                    <h5>% 100 Doğal</h5>
                    <p>
                        Bedende  kalıcı olarak  yer etmiş inatçı yağları yakmak için doğada radikal  çözümler var.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="centered-icon">
                    <div class="icon-wrapp icon-circle icon-primary"><i class="fa fa-laptop"></i></div>
                    <h5>Yan Etkisi Yoktur</h5>
                    <p>
                        Tabiatın nasıl ve neden kalıcı zayıflattığını anlatıyoruz.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="centered-icon">
                    <div class="icon-wrapp icon-circle icon-primary"><i class="fa fa-rocket"></i></div>
                    <h5>7 Ayda Kein Çözüm</h5>
                    <p>
                        Bu yöntemdeki bitkisel zayıflama 7 farklı etkiye sahip.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contain-wrapp gray-container padding-bot20">
    <div class="container">
        <div class="row">
            <div class="col-md-6 marginbot40">
                <img src="https://blog.rackspace.com/uk/wp-content/uploads/sites/8/2018/02/medical.jpg" class="img-responsive" alt="" />
            </div>
            <div class="col-md-6">
                <div class="section-heading marginbot20">
                    <h5>Sağlıklı Zayıflama</h5>
                </div>
                <p>
                    Kendini kanıtlama, kabul ettirme, beğeni toplama isteğinin en üst seviyede olduğu ergenlik döneminde fiziksel büyüme, psikolojik ve sosyal gelişimin olgunluğa eriştiği, özellikle 11-16 yaşları arasında boy uzunluğunun hızla arttığı kaydedilerek, 2-3 yıl süren bu büyüme atağı sırasında, erişkin hayattaki ağırlığın yaklaşık yarısının, total kemik kitlesinin ise yaklaşık yüzde 37’sinin kazanıldığı bildirildi.
                    <br><br>
                    Bilinçsizce ve kontrolsüzce uygulanan çok düşük kalorili zayıflama diyetlerinin büyüme ve gelişmede duraklama, adet yaşında gecikme ve adet düzensizlikleri, iskelet sisteminin anormal gelişimi gibi pek çok sağlık probleminin gelişimine neden olabildiği uyarısında bulunuldu.
                </p>
            </div>
        </div>
    </div>
</div>
