<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 15.11.2018
 * Time: 16:46
 */
?>
<div class="cta-wrapp primary-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>Bizimle Çalısmak Ister misiniz?</h4>
                <p>Simdi kayıt ol ve hemen kazanmaya basla.</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-mandy btn-lg btn-3d btn-icon icon-divider" href="<?=$this->url('site/user/register');?>"><i class="fa fa-user"></i>Hemen Üye Ol</a>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<footer>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>2018 &copy; <a href="<?=$this->url('site');?>">Hobimaks</a> Tüm hakları saklıdır. | <a href="http://mehmethakkioglu.com/">Mehmet HAKKIOĞLU</a></p>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li><a href="#">Ana Sayfa</a></li>
                        <li><a href="#">Hakkımızda</a></li>
                        <li><a href="#">İletişim</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="#" class="toTop">
    <i class="fa fa-chevron-up"></i>
</a>
