<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 15.11.2018
 * Time: 16:45
 */
?>
<nav class="navbar navbar-default navbar-sticky bootsnav">
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Type something ann hit enter">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#brand"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX118hHOtPagvi8umls67zA7YfxEBfjM6mPiB9llD2HGkLChgSVg" width="50" class="logo" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <?php if(isset($_SESSION['hobimaksSession']) == true):?>
                <?=$this->partial('partial/shop');?>
            <?php endif;?>
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                <li<?=$nav == 'home' ? ' class="active"' : null;?>><a href="<?=$this->url('site');?>">Ana Sayfa</a></li>
                <li<?=$nav == 'about' ? ' class="active"' : null;?>><a href="<?=$this->url('site/about');?>">Hakkimizda</a></li>
                <li<?=$nav == 'blog' ? ' class="active"' : null;?>><a href="<?=$this->url('site/blog');?>">Blog</a></li>
                <li<?=$nav == 'feedback' ? ' class="active"' : null;?>><a href="<?=$this->url('site/feedback');?>">Feedback</a></li>
                <li<?=$nav == 'product' ? ' class="active"' : null;?>><a href="<?=$this->url('site/product');?>">Ürünlerimiz</a></li>
                <li<?=$nav == 'contact' ? ' class="active"' : null;?>><a href="<?=$this->url('site');?>">Iletisim</a></li>
            </ul>
        </div>
    </div>
</nav>
