<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 02.12.2018
 * Time: 18:45
 */
$repo = new \Product\Repository\ProductRepository();
$image = new \Product\Repository\ProductImageRepository();
$bagList = $repo->bagList($_SESSION['userInfo']['id']);
?>
<div class="attr-nav">
    <ul>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-shopping-bag"></i>
                <span class="badge"><?=count($bagList);?></span>
            </a>
            <ul class="dropdown-menu cart-list animated fadeOutUp" style="display: none; opacity: 1;">
                <?php if(count($bagList) > 0):?>
                <?php foreach ($bagList as $item):?>
                <li>
                    <a href="<?=$this->url('site/product/view',['slug' => $repo->productFindByOneList(sprintf('id=%d',$item['product_id']))['slug']]);?>" class="photo"><img src="<?=$this->basePath('products/'.$image->productImageList()[$item['product_id']][0]['image']);?>" class="cart-thumb" alt=""></a>
                    <h6><a href="<?=$this->url('site/product/view',['slug' => $repo->productFindByOneList(sprintf('id=%d',$item['product_id']))['slug']]);?>"><?=$repo->productFindByOneList(sprintf('id=%d',$item['product_id']))['title'];?> </a></h6>
                    <p><span class="price"><?=$repo->productFindByOneList(sprintf('id=%d',$item['product_id']))['price'];?> <i class="fa fa-try"></i></span></p>
                </li>
                <?php endforeach;?>
                <li class="total">
                    <a href="<?=$this->url('site/order');?>" class="btn-checkout">Sepetime Git</a>
                </li>
                <?php else:?>
                <label style="padding: 10px;">Sepetiniz bos...</label>
                <?php endif;?>
            </ul>
        </li>
    </ul>
</div>
