<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 15.11.2018
 * Time: 16:45
 */
?>
<div id="loading" class="loading-invisible">
    <div class="loading-center">
        <div class="loading-center-absolute">
            <div class="object" id="object_one"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_three"></div>
        </div>
        <p>Yükleniyor...</p>
    </div>
</div>
<div class="top-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="top-social-network">
                    <li><a href="https://www.instagram.com/yesimle_kisisel_zayiflama/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=905436504525" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
            </div>
            <?php if(isset($_SESSION['hobimaksSession']) == false):?>
                <div class="col-md-6">
                    <ul class="right-link sign-link">
                        <li><a href="<?=$this->url('site/user/login');?>" class="signup"><i class="fa fa-sign-in"></i>  Giriş Yap</a></li>
                        <li><a href="<?=$this->url('site/user/register');?>" class="signup"><i class="fa fa-user-circle-o"></i>    Kayıt Ol</a></li>
                    </ul>
                </div>
            <?php else:?>
                <div class="col-md-6">
                    <ul class="right-link sign-link">
                        <li><a href="<?=$this->url('site/user');?>" class="signup"><i class="fa fa-user"></i>   Hesabım</a></li>
                        <li><a href="<?=$this->url('site/user/logout');?>" class="signup"><i class="fa fa-sign-out"></i>  Çıkış Yap</a></li>
                    </ul>
                </div>
            <?php endif;?>
        </div>
    </div>
</div>
<div class="clearfix"></div>
