<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 02.12.2018
 * Time: 16:47
 */
?>
<div class="col-md-3 col-sm-4">
    <aside>
        <div class="widget">
            <h5 class="widget-head">Kategoriler</h5>
            <ul class="cat">
                <?php foreach ($productList as $item):?>
                <li><a href="<?=$this->url('site/blog/category',['category' => $item['slug']]);?>"><?=$item['title'];?></a></li>
                <?php endforeach;?>
                <li><a href="<?=$this->url('site/blog/category',['category' => 'genel']);?>">Genel</a></li>
            </ul>
        </div>
        <div class="widget">
            <h5 class="widget-head">Sosyal Medya</h5>
            <a href="#" class="btn btn-primary btn-icon btn-block btn-picton"><i class="fa fa-facebook"></i> Facebook</a>
            <a href="#" class="btn btn-primary btn-icon btn-block btn-serria"><i class="fa fa-instagram"></i> Instagram</a>
            <a href="#" class="btn btn-primary btn-icon btn-block btn-apple"><i class="fa fa-whatsapp"></i> Whatsapp</a>
        </div>
    </aside>
</div>
