<?php
$this->headLink()
    ->prependStylesheet($this->basePath('skins/default.css'))
    ->prependStylesheet($this->basePath('css/style.css'))
    ->prependStylesheet($this->basePath('css/revolution/navigation.css'))
    ->prependStylesheet($this->basePath('css/revolution/layers.css'))
    ->prependStylesheet($this->basePath('css/revolution/settings.css'))
    ->prependStylesheet($this->basePath('css/bootstrap.min.css'));

$this->headScript()
    ->prependFile($this->basePath('js/message.js'))
    ->prependFile($this->basePath('js/jquery.min.js'));

$this->inlineScript()
    ->prependFile($this->basePath('js/template-option/demosetting.js'))
    ->prependFile($this->basePath('js/custom.js'))
    ->prependFile($this->basePath('js/twitter/setting.js'))
    ->prependFile($this->basePath('js/twitter/ticker.js'))
    ->prependFile($this->basePath('js/twitter/tweetie.min.js'))
    ->prependFile($this->basePath('js/parallax/setting.js'))
    ->prependFile($this->basePath('js/parallax/jquery.parallax-1.1.3.js'))
    ->prependFile($this->basePath('js/owlcarousel/setting.js'))
    ->prependFile($this->basePath('js/owlcarousel/owl.carousel.min.js'))
    ->prependFile($this->basePath('js/prettyPhoto/setting.js'))
    ->prependFile($this->basePath('js/prettyPhoto/jquery.prettyPhoto.js'))
    ->prependFile($this->basePath('js/masonry/setting.js'))
    ->prependFile($this->basePath('js/masonry/masonry.filter.js'))
    ->prependFile($this->basePath('js/masonry/masonry.min.js'))
    ->prependFile($this->basePath('js/selectdropdown/setting.js'))
    ->prependFile($this->basePath('js/selectdropdown/jquery.dd.min.js'))
    ->prependFile($this->basePath('js/checkator/setting.js'))
    ->prependFile($this->basePath('js/checkator/fm.checkator.jquery.js'))
    ->prependFile($this->basePath('js/form/jcf.select.js'))
    ->prependFile($this->basePath('js/form/jcf.scrollable.js'))
    ->prependFile($this->basePath('js/form/jcf.js'))
    ->prependFile($this->basePath('js/revolution/setting/clean-revolution-slider.js'))
    ->prependFile($this->basePath('js/revolution/revolution.extension.video.min.js'))
    ->prependFile($this->basePath('js/revolution/revolution.extension.slideanims.min.js'))
    ->prependFile($this->basePath('js/revolution/revolution.extension.parallax.min.js'))
    ->prependFile($this->basePath('js/revolution/revolution.extension.navigation.min.js'))
    ->prependFile($this->basePath('js/revolution/revolution.extension.migration.min.js'))
    ->prependFile($this->basePath('js/revolution/revolution.extension.layeranimation.min.js'))
    ->prependFile($this->basePath('js/revolution/revolution.extension.kenburn.min.js'))
    ->prependFile($this->basePath('js/revolution/revolution.extension.carousel.min.js'))
    ->prependFile($this->basePath('js/revolution/revolution.extension.actions.min.js'))
    ->prependFile($this->basePath('js/revolution/jquery.themepunch.revolution.min.js'))
    ->prependFile($this->basePath('js/revolution/jquery.themepunch.tools.min.js'))
    ->prependFile($this->basePath('js/bootsnav.js'))
    ->prependFile($this->basePath('js/ie10-viewport-bug-workaround.js'))
    ->prependFile($this->basePath('js/jquery.easing-1.3.min.js'))
    ->prependFile($this->basePath('js/bootstrap.min.js'))
    ->prependFile($this->basePath('js/ie-emulation-modes-warning.js'))
    ->prependFile($this->basePath('js/loading.js'));
?>
<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="msapplication-TileColor" content="#0061da">
    <meta name="theme-color" content="#1643a3">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <meta name="robots" content="nofollow" />

    <?=$this->headTitle($title);?>

    <?= $this->headMeta(); ?>
    <?= $this->headLink(); ?>
    <?= $this->headScript(); ?>
</head>
<body class="logreg-wrapp">
<div id="loading" class="loading-invisible">
    <div class="loading-center">
        <div class="loading-center-absolute">
            <div class="object" id="object_one"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_three"></div>
        </div>
        <p>Yükleniyor...</p>
    </div>
</div>
<div class="logreg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="login-wrapp">
                    <div class="logreg-contain">
                        <div class="custom-tabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li<?=$user == 'login' ? ' class="active"' : null;?>>
                                    <a href="<?=$this->url('site/user/login');?>">KULLANICI GIRISI</a>
                                </li>
                                <li<?=$user == 'register' ? ' class="active"' : null;?>>
                                    <a href="<?=$this->url('site/user/register');?>">KAYIT OL</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <?=$this->content;?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?= $this->inlineScript(); ?>
</body>
</html>