<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 04.12.2018
 * Time: 00:04
 */
$products = [];
foreach ($productList as $item)
{
    $products[$item['id']] = [
        'title' => $item['title'],
        'price' => $item['price']
    ];
}

$total = null;
foreach ($bag as $item)
{
    $total += $item['quantity'] * $products[$item['product_id']]['price'];
}
$code = strtoupper(hash('crc32',$_SESSION['userInfo']['id'].uniqid()));
?>
<form method="post" class="form-horizontal">
    <div class="row">
        <div class="col-md-8 col-sm-7 marginbot30">
            <h4>Sipariş Bilgileri</h4>
            <div class="form-group">
                <label for="input1" class="col-sm-3">Adınız <span class="noempaty">*</span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="name" id="input1" placeholder="Enter your first name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="input1" class="col-sm-3">Soyadınız <span class="noempaty">*</span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="surname" id="input1" placeholder="Enter your first name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="input12" class="col-sm-3">Adresiniz <span class="noempaty">*</span></label>
                <div class="col-sm-9">
                    <textarea class="form-control" rows="4" name="address" id="input12" placeholder="Note about your address" required></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-5">
            <aside>
                <input type="hidden" name="price" value="<?=$total;?>">
                <input type="hidden" name="order_code" value="<?=$code;?>">
                <div class="order-detail">
                    <div class="widget">
                        <h5 class="widget-head">Siparis Özeti</h5>
                        <table class="parameter-product">
                            <tbody>
                            <tr class="active">
                                <td><strong>Ürün</strong></td>
                                <td><strong>Adet</strong></td>
                            </tr>
                            <?php foreach ($bag as $item):?>
                            <tr>
                                <td><?=$products[$item['product_id']]['title'];?></td>
                                <td><?=$item['quantity'];?></td>
                            </tr>
                            <?php endforeach;?>
                            </tbody></table>
                        <div class="basket-shopping">
                            <label>Toplam :</label> <span><?=$total;?> <i class="fa fa-try"></i></span>
                            <label>Siparis Kodu : <?=$code;?></label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-lg"><i class="fa fa-shopping-cart"></i>    Islemi Tamamla</button>
            </aside>
        </div>
    </div>
</form>