<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 16.11.2018
 * Time: 05:57
 */
$i=1;
?>
<table class="table table-striped">
    <thead style="background: #00BAA3; color: #fff;">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Sipariş Kodu</th>
        <th scope="col">Sipariş Tarihi</th>
        <th scope="col">Sipariş Durumu</th>
    </tr>
    </thead>
    <tbody>
    <?php if(count($orderList) > 0):?>
    <?php foreach ($orderList as $item):?>
            <tr>
                <td class="col-xs-1"><?=$i++;?></td>
                <td class="col-xs-3"><b><?=$item['order_code'];?></b></td>
                <td class="col-xs-3"><?=$item['create_date'];?></td>
                <td class="col-xs-1"><?=$item['status'];?></td>
            </tr>
    <?php endforeach;?>
    <?php else:?>
        <tr>
            <td colspan="4" class="text-center">Kayıt bulunamadı...</td>
        </tr>
    <?php endif;?>
    </tbody>
</table>
