<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 15.11.2018
 * Time: 02:39
 */
?>
<script>
    $(document).ready(function () {
        $('[data-type="remove"]').on('click', function () {
            var id = $(this).data('id');
            $.ajax({
                url: "<?=$this->url('site/order');?>remove/" + id,
                success: function (result) {
                    if(result['code'] == 200)
                    {
                        location.reload();
                    }
                }
            });
        });

        $('[data-type="product"]').each(function (key,item) {
            var calc = parseFloat($(item).find('[data-type="quantity"]').val()) * parseFloat($(item).find('[data-type="price"]').data('price'));
            $(item).find('td[data-type="price"]').html(calc + ' <i class="fa fa-try"></i>');
        });
    });
</script>
<form method="post">
    <div class="col-md-12">
        <table class="styled-table mobile-responsive">
            <thead>
            <tr>
                <th class="text-left col-xs-1">#</th>
                <th class="text-left col-xs-6">Başlık</th>
                <th class="text-left col-xs-1">Adet</th>
                <th class="text-left col-xs-2">Fiyat</th>
                <th class="text-left col-xs-1">Sil</th>
            </tr>
            </thead>

            <tbody>
            <?php foreach ($bagList as $item):?>
                <tr data-type="product">
                    <td data-title="No">1</td>
                    <td data-title="Product">
                        <a class="alignleft"><img src="<?=$this->basePath('products/'.$item['image']);?>" alt="" width="125"></a>
                        <h6 class="item-title"><a href="#"><?=$item['title'];?></a><br><span><?=$item['price'];?> <i class="fa fa-try"></i></span></h6>
                    </td>
                    <td data-title="Qty"><input type="text" data-type="quantity" name="order[<?=$item['id']?>][quantity]" class="form-control" value="<?=$item['quantity'];?>"></td>
                    <td data-title="Price" data-type="price" data-price="<?=$item['price'];?>"></td>
                    <td data-title="Remove">
                        <button type="button" class="btn btn-crimson" data-type="remove" data-id="<?=$item['id'];?>"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
            <?php endforeach;?>
            </tbody>
        </table>
        <div class="shoppingcart-action">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 text-left">
                    <a href="<?=$this->url('site/order/removeAll');?>" class="btn btn-bordered btn-default"><i class="fa fa-trash-o"></i>  Sepeti Boşalt</a>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                    <button class="btn btn-primary"><i class="fa fa-shopping-cart"></i>  Sepeti Güncelle</button>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-right">
                    <a href="<?=$this->url('site/order/payment');?>" class="btn btn-bordered btn-default"><i class="fa fa-money"></i>    Ödeme Yap</a>
                </div>
            </div>
        </div>
    </div>
</form>