<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 02.12.2018
 * Time: 14:44
 */
$values = [];
foreach ($dataList as $item)
{
    $values[] = json_decode($item['actions'])->kilo;
}
asort($values);
$datas = [];
foreach ($values as $value) {
    $datas[] = $value;
}

$kilo = $values[0] - $datas[0];

$this->headLink()
    ->prependStylesheet('https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css');

$this->inlineScript()
    ->prependFile('https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js');
?>
<script>
    $(document).ready(function () {
        $.extend($.fn.dataTable.defaults,{
            searching: false,
            select: true
        });
    });
</script>
<table id="dataList" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th class="col-xs-2">Hafta</th>
        <th class="col-xs-2">Tarih</th>
        <th class="col-xs-1">Kilo</th>
        <th class="col-xs-1">Boy</th>
        <th class="col-xs-1">Göğüs</th>
        <th class="col-xs-1">Kol</th>
        <th class="col-xs-1">Göbek</th>
        <th class="col-xs-1">Basen</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#dataList').DataTable({
            ajax : '<?=$this->url('site/user/manuel/xhr',['id' => $id]);?>'
        });
    })
</script>
<label>Toplam Kilo Kaybı : <label class="text-success"><?=$kilo;?> Kg</label></label>