<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 02.12.2018
 * Time: 13:12
 */
$form->prepare();
echo $this->form()->openTag($form);
?>
<?php
/** @var \Zend\Form\Form $element */
foreach ($form->getElements() as $element) {
    ?>
    <?php if($element->getAttribute('data-type') == 'field'):?>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="col-md-3 control-label"><?= $this->formLabel($element); ?></label>
                <div class="col-md-12">
                    <?php
                    echo $this->formElement($element);
                    echo $this->formElementErrors($element);
                    ?>
                </div>
            </div>
        </div>
    <?php else:?>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-md-3 control-label"><?= $this->formLabel($element); ?></label>
                <div class="col-md-12">
                    <?php
                    echo $this->formElement($element);
                    echo $this->formElementErrors($element);
                    ?>
                </div>
            </div>
        </div>
    <?php endif;?>
<?php } ?>
<div style="padding: 10px;float: left;"></div>
<div class="col-xs-12">
    <div class="form-group">
        <button type="submit" class="btn btn-default pull-right" style="margin-right: 15px;">Kaydet</button>
    </div>
</div>
<?= $this->form()->closeTag($form); ?>
