<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 02.12.2018
 * Time: 12:49
 */
$i=1;
?>
<a href="<?=$this->url('site/user/manuel/create');?>" class="btn btn-default pull-right"><i class="fa fa-user"></i> Takip Oluştur</a>
<table class="table table-striped">
    <thead style="background: #00BAA3; color: #fff;">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Adı Soyadı</th>
        <th scope="col">Kayıt Tarihi</th>
        <th scope="col" class="col-xs-2">İslem</th>
    </tr>
    </thead>
    <tbody>
    <?php if(count($manuelList) > 0):?>
        <?php foreach ($manuelList as $item):?>
            <tr>
                <th><?=$i++;?></th>
                <td><?=$item['user'];?></td>
                <td><?=$item['create_date'];?></td>
                <td>
                    <a href="<?=$this->url('site/user/manuel/view',['id' => $item['user_id']]);?>" class="btn btn-primary"><i class="fa fa-eye"></i>   Incele</a>
                </td>
            </tr>
        <?php endforeach;?>
    <?php else:?>
        <tr>
            <td colspan="3" class="text-center">Kayıt bulunamadı...</td>
        </tr>
    <?php endif;?>
    </tbody>
</table>