<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 15.11.2018
 * Time: 02:39
 */
?>
<script>
    $(document).ready(function () {
        $('[data-type="clickImage"]').on('click', function () {
            var image = $(this).data('image');
            $('[data-type="responseImage"]').attr('src',image);
        });

        $('[data-type="addBag"]').on('click', function () {
            $.ajax({
                url: "<?=$this->url('site/product/addBag');?>",
                type: 'POST',
                data: {id:<?=$product['id'];?>,type:'user'},
                success: function (result) {

                }
            });
        });

        $('[data-type="sendOrder"]').on('click', function () {
            if($(document).width() < 400)
            {
                $.ajax({
                    url: "<?=$this->url('site/product/addBag');?>",
                    type: 'POST',
                    data: {id:<?=$product['id'];?>,type:'agent_mobile',name_surname:$('[name="name_surname"]').val(),gsm:$('[name="gsm"]').val()},
                    success: function (result) {

                    }
                });
            }else{
                $.ajax({
                    url: "<?=$this->url('site/product/addBag');?>",
                    type: 'POST',
                    data: {id:<?=$product['id'];?>,type:'agent_web',name_surname:$('[name="name_surname"]').val(),gsm:$('[name="gsm"]').val()},
                    success: function (result) {

                    }
                });
            }
        });

        $('[data-type="sendComment"]').on('click', function () {
            $.ajax({
                url:"<?=$this->url('site/product/addComment');?>",
                type:'POST',
                data:{comment:$('[name="comment"]').val(),product_id:<?=$product['id'];?>},
                success:function (result) {
                    if(result['code'] == 200)
                    {
                        location.reload();
                    }
                }
            });
        });
    });
</script>
<div class="col-md-6">
    <div class="section-heading text-left">
        <h3><?=$product['title'];?></h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="<?=$this->basePath('products/'.$images[$product['id']][0]['image']);?>" class="img-responsive" data-type="responseImage" style="width: 100%;height: 400px;">
        </div>
        <?php foreach ($images[$product['id']] as $item):?>
            <div class="col-md-4">
                <img src="<?=$this->basePath('products/'.$item['image']);?>" class="img-thumbnail thumbnail-gray img-responsive" data-type="clickImage" data-image="<?=$this->basePath('products/'.$item['image']);?>" style="width: 100%;height: 130px;">
            </div>
        <?php endforeach;?>
    </div>
</div>
<div class="col-md-6">
    <div class="section-heading text-left">
        <h5>Ürün Açıklaması</h5>
    </div>
    <div style="padding: 10px;"></div>
    <p class="product-p">
        <?=$product['description'];?>
        <hr>
    <p style="font-size:20px;">Fiyat : <label><?=$product['price'];?> <i class="fa fa-try"></i></label></p>
    <p style="font-size:20px;">ÜrünKodu : <label><?=$product['qr_code'];?></label></p>
    <?php if(isset($_SESSION['hobimaksSession']) == true):?>
        <a data-type="addBag" class="btn btn-sunshade"><i class="fa fa-shopping-bag"></i>  Sepete Ekle</a>
    <?php else:;?>
        <a data-type="orderSend" class="btn btn-sunshade" data-toggle="modal" data-target="#myModal"><i class="fa fa-shopping-bag"></i>  Sipariş Ver</a>
    <?php endif;?>
        <a href="<?=$this->url('site');?>" class="btn btn-cinnabar"><i class="fa fa-search"></i>    Blog Incele</a>
    </p>
</div>
<div class="col-md-12">
    <div class="section-heading text-left">
        <h5>Paylas</h5>
    </div>
    <a href="https://www.facebook.com/dialog/share?app_id=87741124305&href=<?=$_SERVER['SERVER_NAME'];?>" class="btn btn-azure btn-sm btn-3d btn-icon-right icon-divider" onclick="return !window.open(this.href, 'Facebook', 'width=500,height=500')" target="_blank">Facebook'ta Paylas <i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/intent/tweet?url=<?=$_SERVER['SERVER_NAME'];?>&text=<?=$product['title'];?>=" class="btn btn-picton btn-sm btn-3d btn-icon-right icon-divider" onclick="return !window.open(this.href, 'Twitter', 'width=500,height=500')" target="_blank">Twitter'ta Paylas <i class="fa fa-twitter"></i></a>
</div>
<div style="padding: 10px;float: left"></div>
<div class="col-md-12">
    <div class="section-heading text-left">
        <h5>Yorumlar</h5>
    </div>



    <div class="row news-row">
        <div class="col-md-12">
            <form class="row">
                <div class="col-md-12 marginbot30">
                    <textarea class="form-control" name="comment" rows="8" placeholder="Lütfen yorumunuzu yazınız..."></textarea>
                </div>
                <div class="col-md-6 col-sm-6 marginbot30">
                    <button type="button" class="btn btn-default" data-type="sendComment"><i class="fa fa-comment"></i> Yorum Yap</button>
                </div>
            </form>
        </div>
    </div>






    <div class="row news-row">
        <div class="col-md-12">
            <h5>Yorumlar (<?=count($comments)?>)</h5>
        </div>
        <div class="col-md-12">
            <?php if(count($comments) > 0):?>
                <?php foreach ($comments as $item):?>
                    <div class="media">
                        <div class="media-left">
                            <a>
                                <img class="media-object" src="<?=$this->basePath('img/no-image.png');?>" alt="" width="130">
                            </a>
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading"><a><?=$userList[$item['user_id']]['name'].' '.$userList[$item['user_id']]['surname'];?></a></h6>
                            <p>
                                <?=$item['comment'];?>
                            </p>
                        </div>
                    </div>
                <?php endforeach;?>
            <?php else:?>
            Henüz bir yorum yapılmamış...
            <?php endif;?>
        </div>
    </div>
</div>

<?php if(isset($_SESSION['hobimaksSession']) == false):?>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">Sipariş Ver</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Adınız Soyadınız</label>
                        <input type="text" class="form-control" name="name_surname">
                    </div>
                    <div class="form-group">
                        <label>GSM Numaranız</label>
                        <input type="text" class="form-control" name="gsm">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" type="button" data-dismiss="modal">Kapat</button>
                    <button class="btn btn-default btn-sm" type="button" data-type="sendOrder">Sipariş Ver</button>
                </div>
            </div>
        </div>
    </div>
<?php endif;?>
