<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 15.11.2018
 * Time: 02:39
 */
?>
<?php foreach($productList as $item):?>
<?php $i++;?>
<div class="col-md-4">
    <div class="classes-wrapp">
        <div class="img-wrapper">
            <div class="coption-heading">
                <h4><?=$item['title'];?></h4>
            </div>
            <img src="<?=$this->basePath('products/'.$productImageList[$item['id']][0]['image']);?>" class="img-responsive" alt="">
        </div>
        <div class="classes-content">
            <p>
                <?=substr($item['description'],0,150).'...'?>
            </p>
            <p><a href="<?=$this->url('site/product/view',['slug' => $item['slug']]);?>" class="btn btn-default">Ürün İncele</a></p>
            <div class="price"><?=$item['price'];?><span> <i class="fa fa-try"></i></span></div>
        </div>
    </div>
</div>
<?php endforeach;?>