<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 04.12.2018
 * Time: 18:43
 */
?>
<div class="col-md-12 col-sm-12">
    <!-- Start post 1 -->
    <article class="post single-post">
        <!-- Start article row 1 -->
        <div class="row news-row">
            <div class="col-md-12">
                <div class="news-article-heading margintop-clear">
                    <span class="label buttercup-bg"><?=$feedbackList['type'];?></span>
                    <div class="meta-post">
                        <a href="#" class="author"><?=$feedbackList['rating'] > 0 ? $feedbackList['rating'] : 0;?></a> <span class="date">Kişi bunu beğendi <br><button type="button" class="btn btn-turquoise btn-3d btn-icon icon-divider btn-sm" href="#"><i class="fa fa-thumbs-up"></i>Begendim</button></span>
                    </div>
                    <a href="#" class="comment-label"><?=count($feedbackCommentList[$id]);?></a>
                </div>
            </div>
        </div>
        <div class="row news-row">
            <div class="col-md-12">
                <div class="news-content">
                    <?php if($feedbackList['type'] == 'text'):?>
                        <p>
                            <?=json_decode($feedbackList['media'])->text;?>
                        </p>
                    <?php elseif($feedbackList['type'] == 'image'):?>

                    <?php elseif($feedbackList['type'] == 'video'):?>

                    <?php endif;?>
                </div>
            </div>
        </div>
        <div class="row news-row">
            <div class="col-md-12">
                <ul class="post-share">
                    <li><label>Paylas :</label></li>
                    <li><a class="btn btn-picton btn-3d btn-icon icon-divider btn-sm" href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                    <li><a class="btn btn-turquoise btn-3d btn-icon icon-divider btn-sm" href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                    <li><a class="btn btn-christine btn-3d btn-icon icon-divider btn-sm" href="#"><i class="fa fa-google-plus"></i>Google plus</a></li>
                    <li><a class="btn btn-crimson btn-3d btn-icon icon-divider btn-sm" href="#"><i class="fa fa-pinterest"></i>Pinterest</a></li>
                </ul>
            </div>
        </div>
        <!-- End article row 4 -->

        <!-- Start article row 7 -->
        <div class="row news-row">
            <div class="col-md-12">
                <h5>Yorum Yap</h5>
            </div>
            <div class="col-md-12">
                <?php if($_SESSION['hobimaksSession'] == true):?>
                    <form method="post" class="row">
                        <div class="col-md-12 marginbot30">
                            <textarea class="form-control" rows="8" name="comment" placeholder="Lütfen yorum yapınız..."></textarea>
                        </div>
                        <div class="col-md-6 col-sm-6 marginbot30">
                            <button type="submit" class="btn btn-default">Yorum Yap</button>
                        </div>
                    </form>
                <?php else:?>
                    <label>
                        Lütfen <a href="<?=$this->url('site/user/login');?>">kullanıcı girişi</a> yapınız.
                    </label>
                <?php endif;?>
            </div>
        </div>
        <!-- End article row 7 -->

        <!-- Start article row 8 -->
        <div class="row news-row">
            <div class="col-md-12">
                <h5>Yorumlar (<?=count($feedbackCommentList[$id]);?>)</h5>
            </div>
            <div class="col-md-12">
                <?php foreach ($feedbackCommentList[$id] as $item):?>
                    <div class="media">
                        <div class="media-left">
                            <a>
                                <img class="media-object" src="<?=$this->basePath('img/no-image.png');?>" alt="">
                                <button class="btn btn-crimson btn-sm btn-3d btn-icon icon-divider btn-block" data-type="comment" data-id="<?=$item['id'];?>" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-times"></i>Yorumu Bildir</button>
                            </a>
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading"><a><?=$userInfo[$item['user_id']]['name'].' '.$userInfo[$item['user_id']]['surname'];?></a></h6>
                            Tarih : <?=$feedbackList['create_date'];?>
                            <hr>
                            <p>
                                <?=$item['comment'];?>
                            </p>
                        </div>
                    </div>
                <?php endforeach;?>
            </div>
        </div>
        <!-- End article row 8 -->
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Yorumu Bildir</h5>
            </div>
            <div class="modal-body">
                <p>
                    Yorumun kötüye kullanıldığını bildirmek istediğinize emin misiniz?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><i class="fa fa-times"></i>   Hayır</button>
                <button type="button" class="btn btn-primary btn-sm" data-type="send"><i class="fa fa-check"></i>    Evet</button>
            </div>
        </div>
    </div>
</div>
