<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 15.11.2018
 * Time: 02:39
 */
?>
<?php if(count($blogList) > 0):?>
    <?php foreach ($blogList as $item):?>
        <?php
        $originalDate = $item['create_date'];
        $newDate = date("Y/m/d", strtotime($originalDate));
        ?>
        <article class="post">
            <div class="media-wrapper">
                <?php if($blogImageList[$item['id']][0]['type'] == 'image'):?>
                    <a href="#"><img src="<?=$this->basePath('blogs/'.$blogImageList[$item['id']][0]['name']);?>" class="img-responsive" alt="" style="width: 100%; height: 400px;"></a>
                <?php else:?>
                    <video style="width: 100%;height: 400px;" controls="controls" preload="none" onclick="this.play()">
                        <source src="<?=$this->basePath('blogs/'.$blogImageList[$item['id']][0]['name'].'.mp4');?>" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                <?php endif;?>
                <ul class="meta-caption">
                    <li><a href="#"><i class="fa fa-calendar"></i><?=$newDate;?></a></li>
                </ul>
            </div>
            <h4><a href="<?=$this->url('site/blog/category/view',['category' => json_decode($item['options'])->category,'view' => $item['slug']]);?>"><?=$item['title'];?></a></h4>
            <p><?=substr($item['content'],0,500);?></p>
            <p><a href="<?=$this->url('site/blog/category/view',['category' => json_decode($item['options'])->category,'view' => $item['slug']]);?>" class="btn btn-primary">Devamını Oku</a></p>
        </article>
    <?php endforeach;?>
<?php else:?>
    <label>Henüz içerik girilmemiştir.</label>
<?php endif;?>
