<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 03.12.2018
 * Time: 19:49
 */
$feedList = [];

foreach ($feedbackList as $item)
{
    if($item['user_id'] == $_SESSION['userInfo']['id'])
    {
        $feedList[] = $item;
    }
}
$i=1;
?>
<a href="<?=$this->url('site/feedback/create');?>" class="btn btn-default pull-right"><i class="fa fa-comments"></i> Feedback Oluştur</a>
<table class="table table-striped">
    <thead style="background: #00BAA3; color: #fff;">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Yayın Tarihi</th>
        <th scope="col">Beğeni</th>
        <th scope="col">Yorum</th>
        <th scope="col" class="col-xs-2">İncele</th>
    </tr>
    </thead>
    <tbody>
    <?php if(count($feedList) > 0):?>
        <?php foreach ($feedList as $item):?>
            <tr>
                <th><?=$i++;?></th>
                <td><?=$item['create_date'];?></td>
                <td><?=$item['rating'] == null ? 0 : $item['rating'];?></td>
                <td><?=count($feedbackCommentsList[$item['id']]);?></td>
                <td>
                    <a href="<?=$this->url('site/feedback/view',['id' => $item['id']]);?>" class="btn btn-primary"><i class="fa fa-eye"></i>    İncele</a>
                </td>
            </tr>
        <?php endforeach;?>
    <?php else:?>
        <tr>
            <td colspan="5" class="text-center">Kayıt bulunamadı...</td>
        </tr>
    <?php endif;?>
    </tbody>
</table>
