<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 15.11.2018
 * Time: 02:39
 */
?>
<?php foreach ($feedbackList as $item):?>
    <?php
    $originalDate = $item['create_date'];
    $newDate = date("Y/m/d", strtotime($originalDate));
    ?>
<?php if($item['type'] == 'text'):?>
        <article class="post">
            <div class="testimoni-wrapp absolute-avatar">
                <div class="testimoni">
                    <blockquote><?=json_decode($item['media'])->text;?></blockquote>
                    <div class="testimoni-author">
                        <a href="<?=$this->url('site/feedback/view',['id' => $item['id']]);?>" class="avatar" ><img src="<?=$this->basePath('img/no-image.png');?>" alt="" /></a>
                        <h6><?=$userList[$item['user_id']]['name'];?> <span><?=$userList[$item['user_id']]['surname'];?></span></h6>
                        <p><?=count($feedbackCommentList[$item['id']]);?> Yorum</p>
                    </div>
                </div>
            </div>
        </article>
<?php else:?>
        <article class="post">
            <div class="media-wrapper">
                <?php if($item['type'] == 'image'):?>
                    <a href="<?=$this->url('site/feedback/view',['id' => $item['id']]);?>"><img src="<?=$this->basePath('feedbacks/'.json_decode($item['media'])->content);?>" class="img-responsive" alt="" style="width: 100%; height: 400px;"></a>
                <?php elseif($item['type'] == 'video'):?>
                    <video style="width: 100%;height: 400px;" controls="controls" preload="none" onclick="this.play()">
                        <source src="<?=$this->basePath('feedbacks/'.json_decode($item['content'])->content.'.mp4');?>" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                <?php endif;?>
                <ul class="meta-caption">
                    <li><a><i class="fa fa-calendar"></i><?=$newDate;?></a></li>
                </ul>
            </div>
            <p>
                <?=json_decode($item['media'])->text;?>
            </p>
        </article>
<?php endif;?>
<?php endforeach;?>
