<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 03.12.2018
 * Time: 19:53
 */
?>
<script>
    $(document).ready(function () {
        $('[data-type="media"]').hide();

        $('[name="type"]').on('change', function () {
            var value = $(this).val();

            if(value == 'text')
            {
                $('[data-type="media"]').hide();
            }else if(value == 'video' || value == 'image')
            {
                $('[data-type="media"]').show();
            }
        });
    });
</script>
<form method="POST" enctype="multipart/form-data">
    <div class="col-xs-12">
        <div class="form-group">
            <label class="col-md-3 control-label"><label for="follow[kilo]">İçerik Türü</label></label>
            <div class="col-md-12">
                <select class="form-control" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}' name="type">
                    <option value="text">Standart</option>
                    <option value="image">Resim</option>
                    <option value="video">Video</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-xs-12" data-type="standart">
        <div class="form-group">
            <label class="col-md-3 control-label"><label for="follow[kilo]">Açıklama</label></label>
            <div class="col-md-12">
                <textarea class="form-control" name="media[text]"></textarea>
            </div>
        </div>
    </div>
    <div class="col-xs-12" data-type="media">
        <div class="form-group">
            <label class="col-md-3 control-label"><label for="follow[kilo]">Medya İçeriği</label></label>
            <div class="col-md-12">
                <input type="file" name="media[content]" class="form-control">
            </div>
        </div>
    </div>
    <div style="padding: 10px;float: left;"></div>
    <div class="col-xs-12">
        <div class="form-group">
            <button type="submit" class="btn btn-default pull-right" style="margin-right: 15px;">Kaydet</button>
        </div>
    </div>
</form>