<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 02.12.2018
 * Time: 15:15
 */
?>
<h2>Diyet Listesi</h2>
<hr>
<?php foreach ($list as $key => $items):?>
<h5><?=ucwords($key);?></h5>
<ul class="list-icons">
    <?php foreach ($items as $item):?>
        <li><i class="fa fa-check-square primary"></i> <?=$item;?></li>
    <?php endforeach;?>
</ul>
<?php endforeach;?>