<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 15.11.2018
 * Time: 02:39
 */
$i=1;
?>
<table class="table table-striped">
    <thead style="background: #00BAA3; color: #fff;">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Adı Soyadı</th>
        <th scope="col">Kayıt Tarihi</th>
        <th scope="col" class="col-xs-2">İncele</th>
    </tr>
    </thead>
    <tbody>
    <?php if(count($referenceList) > 0):?>
        <?php foreach ($referenceList as $item):?>
            <tr>
                <th><?=$i++;?></th>
                <td><?=$item['username'];?></td>
                <td><?=$item['create_date'];?></td>
                <td>
                    <a href="<?=$this->url('site/user/userInfo',['id' => $item['id']]);?>" class="btn btn-primary"><i class="fa fa-eye"></i>    İncele</a>
                </td>
            </tr>
        <?php endforeach;?>
    <?php else:?>
        <tr>
            <td colspan="3" class="text-center">Kayıt bulunamadı...</td>
        </tr>
    <?php endif;?>
    </tbody>
</table>