<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 02.12.2018
 * Time: 16:00
 */
?>
<h2>Kullanıcı Detayı</h2>
<hr>
<div class="col-xs-6">
    <div class="form-group">
        <label>Adı Soyadı</label>
        <input type="text" class="form-control" value="<?=$userInfo['info']['name'].' '.$userInfo['info']['surname'];?>" disabled>
    </div>
</div>
<div class="col-xs-6">
    <div class="form-group">
        <label>Diyet Seçimi</label>
        <input type="text" class="form-control" value="<?=$dietList[$userInfo['info']['diet_id']]['title'];?>" disabled>
    </div>
</div>
<div class="col-xs-6">
    <div class="form-group">
        <label>Doğum Yılı</label>
        <input type="text" class="form-control" value="<?=$userInfo['birth_day'];?>" disabled>
    </div>
</div>