<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 30.11.2018
 * Time: 16:16
 */
?>
<script>
    $(document).ready(function () {
        <?php if(isset($_SESSION['message'])):?>
        $('[data-type="notification"]').css('display','block');
        $('[data-type="title"]').text('<?=$_SESSION['message']['code'] == 200 ? 'Başarılı' : 'Uyarı';?>');
        $('[data-type="message"]').text('<?=$_SESSION['message']['message'];?>');
        <?php unset($_SESSION['message']);?>
        <?php else:?>
        $('[data-type="notification"]').css('display','none');
        <?php endif;?>
    });
</script>
<div data-type="notification" style="display: none;">
    <div class="alert alert-warning" role="alert" data-out="fadeOutUp"><span class="close-alert"><i class="fa fa-times-circle"></i></span><span class="close-alert"><i class="fa fa-times-circle"></i></span>
        <i class="fa fa-warning"></i>
        <h6 class="title" data-type="title"></h6>
        <p data-type="message"></p>
    </div>
</div>
<h3 class="text-center">Hesap Bilgileri</h3>
<hr>
<form method="post">
    <div class="col-xs-6">
        <div class="form-group">
            <label>Adınız</label>
            <input type="text" class="form-control" placeholder="Adınız" name="name" value="<?=$user_info['name'];?>">
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <label>Soyadınız</label>
            <input type="text" class="form-control" placeholder="Soyadınız" name="surname" value="<?=$user_info['surname'];?>">
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <label>GSM Numarası</label>
            <input type="tel" class="form-control" placeholder="GSM Numaranız" name="gsm" value="<?=$user_info['gsm'];?>">
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <label>E-Posta Adresiniz</label>
            <input type="email" class="form-control" placeholder="E-Posta Adresiniz" name="email" value="<?=$user_core['email'];?>" disabled>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label>Diyet Seçimi</label>
            <select class="form-control" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}' name="diet">
                <option value="0">Lütfen diyet seçimi yapınız...</option>
                <optgroup label="Diyet Listesi">
                    <?php foreach ($dietList as $item):?>
                        <option value="<?=$item['id'];?>" <?=$user_info['diet_id'] == $item['id'] ? 'selected' : null;?>><?=$item['title'];?></option>
                    <?php endforeach;?>
                </optgroup>
            </select>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right" name="info"><i class="fa fa-edit"></i>   Düzenle</button>
        </div>
    </div>
</form>
<h3 class="text-center">Parola Degistir</h3>
<hr>
<form method="post">
    <div class="col-xs-6">
        <div class="form-group">
            <label>Mevcut Parolanız</label>
            <input type="password" class="form-control" placeholder="Mevcut Parolanız" name="password">
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <label>Yeni Parola</label>
            <input type="password" class="form-control" placeholder="Yeni Parola" name="new_password">
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label>Yeni Parola [Tekrar]</label>
            <input type="password" class="form-control" placeholder="Yeni Parola [Tekrar]" name="re_password">
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right" name="password_post"><i class="fa fa-edit"></i>   Düzenle</button>
        </div>
    </div>
</form>