<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 15.11.2018
 * Time: 02:39
 */
?>
<script>
    $(document).ready(function () {
        <?php if(isset($_SESSION['message']['code']) == 201):?>
        message({title:"Uyarı",message:"<?=$_SESSION['message']['message'];?>"},$('[data-type="message"]'));
        <?php unset($_SESSION['message']);?>
        <?php endif;?>
    });
</script>
<div class="tab-pane fade in active" id="tab1">
    <form method="post">
        <div class="form-group">
            <label>Kullanıcı Adı : <span class="noempaty">*</span></label>
            <input type="text" name="username" class="form-control" id="username" required />
        </div>
        <div class="form-group">
            <label>Parola : <span class="noempaty">*</span></label>
            <input type="password" name="password" class="form-control" id="password" required/>
        </div>
        <div class="form-group" data-type="message">

        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">GIRIS YAP</button>
        </div>
    </form>
</div>