<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU
 * Mail: contact@mehmethakkioglu.com
 * Date: 15.11.2018
 * Time: 02:39
 */
$year=1945;
?>
<script>
    $(document).ready(function () {
        <?php if(isset($_SESSION['message']['code']) == 201):?>
        message({title:"Uyarı",message:"<?=$_SESSION['message']['message'];?>"},$('[data-type="message"]'));
        <?php unset($_SESSION['message']);?>
        <?php endif;?>
    });
</script>
<div class="tab-pane fade in active" id="tab1">
    <form method="post">
        <?php if($reference == true):?>
        <div class="form-group">
            <label>Referans : <span class="noempaty">*</span></label>
            <input type="text" class="form-control" disabled value="<?=$referenceName;?>"/>
        </div>
        <?php endif;?>
        <div class="form-group">
            <label>Kullanıcı Adı : <span class="noempaty">*</span></label>
            <input type="text" name="username" class="form-control" id="username" required />
        </div>
        <div class="form-group">
            <label>Parola : <span class="noempaty">*</span></label>
            <input type="password" name="password" class="form-control" id="password" required/>
        </div>
        <div class="form-group">
            <label>Parola [Tekrar] : <span class="noempaty">*</span></label>
            <input type="password" name="re_password" class="form-control" id="re_password" required/>
        </div>
        <div class="form-group">
            <label>E-Posta Adresi : <span class="noempaty">*</span></label>
            <input type="email" name="email" class="form-control" id="email" required/>
        </div>
        <div class="form-group">
            <label>Doğum Yılı<span class="noempaty">*</span></label>
            <select class="form-control" name="birth_day">
                <?php while($year < 2018):?>
                <?php $year++;?>
                <option value="<?=$year;?>"><?=$year;?></option>
                <?php endwhile;?>
            </select>
        </div>
        <div class="form-group" data-type="message">

        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">KAYIT OL</button>
        </div>
    </form>
</div>